# LGDXRobot2 ROS2 GitLab CI/CD
# Variables Needed
# $EXT_REGISTRY: Registry URL (e.g. docker.io)
# $EXT_USER: Username for the registry
# $EXT_PAT: PAT for the registry (https://docs.docker.com/security/for-developers/access-tokens/)

stages:
  - prepare
  - build-sup
  - build
  - release

prepare:
  stage: prepare
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: alpine:latest
  tags:
    - lgdx-arm64
  script:
    - apk add libxml2-utils
    - echo "APP_VERSION=$(grep 'project(' CMakeLists.txt | awk -F'VERSION' '{print $2}' | awk '{print $1}')" >> variables.env
  artifacts:
    reports:
      dotenv: variables.env

build-sup-amd64:
  stage: build-sup
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  when: manual
  image: docker:24.0.5-git
  services:
    - docker:24.0.5-dind
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker build -f Docker/Dockerfile.amd64 -t $EXT_REGISTRY/$EXT_USER/lgdxrobot2.chassistuner.build:amd64 .
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobot2.chassistuner.build:amd64

build-sup-arm64:
  stage: build-sup
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  when: manual
  image: docker:24.0.5-git
  tags:
    - lgdx-arm64
  services:
    - docker:24.0.5-dind
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker build -f Docker/Dockerfile.arm64 -t $EXT_REGISTRY/$EXT_USER/lgdxrobot2.chassistuner.build:arm64 .
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobot2.chassistuner.build:arm64

build-amd64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  script:
    - docker run --rm -v ${PWD}:/project $EXT_USER/lgdxrobot2.chassistuner.build:amd64 \
      sh -c 'qt-cmake . -G Ninja -B ./build; cmake --build ./build;'
  artifacts:
    paths:
      - build/ChassisTuner
    expire_in: 1 week

    
build-arm64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  tags:
    - lgdx-arm64
  services:
    - docker:24.0.5-dind
  script:
    - docker run --rm -v ${PWD}:/project $EXT_USER/lgdxrobot2.chassistuner.build:arm64 \
      sh -c 'qt-cmake . -G Ninja -B ./build; cmake --build ./build;'
  artifacts:
    paths:
      - build/ChassisTuner
    expire_in: 1 week
