# LGDXRobot2 ChassisTuner GitLab CI/CD
# Variables Needed
# $EXT_REGISTRY: Registry URL (e.g. docker.io)
# $EXT_USER: Username for the registry
# $EXT_PAT: PAT for the registry (https://docs.docker.com/security/for-developers/access-tokens/)

variables:
  TOOLCHAIN_IMAGE_NAME: "lgdxrobot2-chassistuner-build"

stages:
  - prepare
  - build-toolchain
  - build
  - release

#
# Parepare variables
#

prepare:
  stage: prepare
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: alpine:latest
  script:
    - apk add libxml2-utils
    - echo "APP_VERSION=$(grep 'project(' CMakeLists.txt | awk -F'VERSION' '{print $2}' | awk '{print $1}')" >> variables.env
  artifacts:
    reports:
      dotenv: variables.env
    expire_in: 1 day

#
# Build toolchain (Optional)
#

build-toolchain-amd64:
  stage: build-toolchain
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  when: manual
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  variables:
    ARCH: amd64
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker build -f Docker/Dockerfile.$ARCH -t $EXT_REGISTRY/$EXT_USER/$TOOLCHAIN_IMAGE_NAME:$ARCH .
    - docker push $EXT_REGISTRY/$EXT_USER/$TOOLCHAIN_IMAGE_NAME:$ARCH

build-toolchain-arm64:
  stage: build-toolchain
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  when: manual
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-arm64
  services:
    - docker:24.0.5-dind
  variables:
    ARCH: arm64
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker build -f Docker/Dockerfile.$ARCH -t $EXT_REGISTRY/$EXT_USER/$TOOLCHAIN_IMAGE_NAME:$ARCH .
    - docker push $EXT_REGISTRY/$EXT_USER/$TOOLCHAIN_IMAGE_NAME:$ARCH

#
# Build ChassisTuner
#

build-amd64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  variables:
    ARCH: amd64
  script:
    - |
      docker run --rm -v ${PWD}:/project $EXT_USER/$TOOLCHAIN_IMAGE_NAME:$ARCH bash -c \
      "qt-cmake . -G Ninja -B ./build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./build/ChassisTuner-$ARCH; 
      cmake --build ./build --target install -j$(nproc);"
  artifacts:
    paths:
      - build/ChassisTuner-$ARCH/*
    expire_in: 1 day

build-arm64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-arm64
  services:
    - docker:24.0.5-dind
  variables:
    ARCH: arm64
  script:
    - |
      docker run --rm -v ${PWD}:/project $EXT_USER/$TOOLCHAIN_IMAGE_NAME:$ARCH bash -c \
      "qt-cmake . -G Ninja -B ./build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./build/ChassisTuner-$ARCH; 
      cmake --build ./build --target install -j$(nproc);"
  artifacts:
    paths:
      - build/ChassisTuner-$ARCH/*
    expire_in: 1 day

#
# Release ChassisTuner
#

release_job:
  stage: release
  image: alpine:latest
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - job: prepare
      artifacts: true
    - job: build-arm64
      artifacts: true
    - job: build-amd64
      artifacts: true
  before_script:
    - apk add glab
    - apk add gitlab-release-cli  
    - apk add curl
    - apk add zip
  script:
    # Upload AMD64
    - cd build/ChassisTuner-amd64
    - zip -r ChassisTuner-amd64.zip .
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file ChassisTuner-amd64.zip \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner/latest/ChassisTuner-amd64.zip"
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file ChassisTuner-amd64.zip \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner/$APP_VERSION/ChassisTuner-amd64.zip"
    - cd ../..
    # Upload ARM64
    - cd build/ChassisTuner-arm64
    - zip -r ChassisTuner-arm64.zip .
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file ChassisTuner-arm64.zip \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner/latest/ChassisTuner-arm64.zip"
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file ChassisTuner-arm64.zip \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner/$APP_VERSION/ChassisTuner-arm64.zip"
  release:
    name : 'Release $APP_VERSION'
    tag_name: '$APP_VERSION'
    description: '$APP_VERSION'
    ref: '$CI_COMMIT_SHA'
    assets:
      links:
        - name: 'Linux ARM64'
          url: '${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner/$APP_VERSION/ChassisTuner-arm64.zip'
        - name: 'Linux AMD64'
          url: '${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner/$APP_VERSION/ChassisTuner-amd64.zip'