# LGDXRobot2 ROS2 GitLab CI/CD
# Variables Needed
# $EXT_REGISTRY: Registry URL (e.g. docker.io)
# $EXT_USER: Username for the registry
# $EXT_PAT: PAT for the registry (https://docs.docker.com/security/for-developers/access-tokens/)

stages:
  - prepare
  - build-sup
  - build
  - release

prepare:
  stage: prepare
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: alpine:latest
  tags:
    - lgdx-arm64
  script:
    - apk add libxml2-utils
    - echo "APP_VERSION=$(grep 'project(' CMakeLists.txt | awk -F'VERSION' '{print $2}' | awk '{print $1}')" >> variables.env
  artifacts:
    reports:
      dotenv: variables.env

build-sup-amd64:
  stage: build-sup
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  when: manual
  image: docker:24.0.5-git
  services:
    - docker:24.0.5-dind
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker build -f Docker/Dockerfile.amd64 -t $EXT_REGISTRY/$EXT_USER/lgdxrobot2.chassistuner.build:amd64 .
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobot2.chassistuner.build:amd64

build-sup-arm64:
  stage: build-sup
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  when: manual
  image: docker:24.0.5-git
  tags:
    - lgdx-arm64
  services:
    - docker:24.0.5-dind
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker build -f Docker/Dockerfile.arm64 -t $EXT_REGISTRY/$EXT_USER/lgdxrobot2.chassistuner.build:arm64 .
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobot2.chassistuner.build:arm64

build-amd64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  script:
    - docker run --rm -v ${PWD}:/project $EXT_USER/lgdxrobot2.chassistuner.build:amd64 bash -c 'qt-cmake . -G Ninja -B ./build; cmake --build ./build;'
    - mv build/ChassisTuner build/ChassisTuner-amd64
  artifacts:
    paths:
      - build/ChassisTuner-amd64
    expire_in: 1 day

build-arm64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  tags:
    - lgdx-arm64
  services:
    - docker:24.0.5-dind
  script:
    - docker run --rm -v ${PWD}:/project $EXT_USER/lgdxrobot2.chassistuner.build:arm64 bash -c 'qt-cmake . -G Ninja -B ./build; cmake --build ./build;'
    - mv build/ChassisTuner build/ChassisTuner-arm64
  artifacts:
    paths:
      - build/ChassisTuner-arm64
    expire_in: 1 day

release_job:
  stage: release
  image: alpine:latest
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  tags:
    - lgdx-arm64 
  needs:
    - job: prepare
      artifacts: true
    - job: build-arm64
      artifacts: true
    - job: build-amd64
      artifacts: true
  before_script:
    - apk add glab
    - apk add gitlab-release-cli  
    - apk add curl
  script:
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file build/ChassisTuner-amd64 \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/binaries/${APP_VERSION}/build/ChassisTuner-amd64"
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file build/ChassisTuner-arm64 \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/binaries/${APP_VERSION}/build/ChassisTuner-arm64"
  release:
    name : 'Release $APP_VERSION'
    tag_name: '$APP_VERSION'
    description: '$APP_VERSION'
    ref: '$CI_COMMIT_SHA'
    assets:
      links:
        - name: 'Download Binaries For Ubuntu'
          url: 'https://gitlab.com/yukaitung/lgdxrobot2-chassistuner/-/packages/${APP_VERSION}'
