variables:
  EXT_USER: "yukaitung"
  TOOLCHAIN_IMAGE_NAME: "lgdxrobot2-chassistuner-build"
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_FORCE_HTTPS: "true"

stages:
  - prepare
  - build
  - release

#
# Parepare variables
#

prepare:
  stage: prepare
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: alpine:latest
  script:
    - apk add libxml2-utils
    - echo "APP_VERSION=$(grep 'project(' CMakeLists.txt | awk -F'VERSION' '{print $2}' | awk '{print $1}')" >> variables.env
  artifacts:
    reports:
      dotenv: variables.env
    expire_in: 1 day

#
# Build ChassisTuner
#

build-amd64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  needs:
    - job: prepare
      artifacts: true
  variables:
    ARCH: amd64
  before_script:
    - apk add curl
    - apk add zip
    - apk add dpkg
  script:
    # Build
    - |
      docker run --rm -v ${PWD}:/project $EXT_USER/$TOOLCHAIN_IMAGE_NAME:$ARCH bash -c \
      "qt-cmake . -G Ninja -B ./build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./build/ChassisTuner-$ARCH; 
      cmake --build ./build --target install -j$(nproc);"
    # Upload
    - cd build/ChassisTuner-$ARCH
    - zip -r ChassisTuner-$ARCH.zip .
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file ChassisTuner-$ARCH.zip \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner/latest/ChassisTuner-$ARCH.zip"
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file ChassisTuner-$ARCH.zip \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner/$APP_VERSION/ChassisTuner-$ARCH.zip"
    - rm *.zip
    - cd ../..
    # Build DEBIAN package
    - mkdir -p deb/opt/lgdxrobot2-chassistuner
    - mkdir -p deb/DEBIAN
    - cp DEBIAN/control deb/DEBIAN/control
    - sed -i "s/%REPLACE_VERSION%/$APP_VERSION/g" deb/DEBIAN/control
    - sed -i "s/%REPLACE_ARCH%/$ARCH/g" deb/DEBIAN/control
    - cp -r build/ChassisTuner-$ARCH/* deb/opt/lgdxrobot2-chassistuner
    - dpkg-deb --build deb
    - mv deb.deb lgdxrobot2-chassistuner-$ARCH.deb
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file lgdxrobot2-chassistuner-$ARCH.deb \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner-Deb/latest/lgdxrobot2-chassistuner-$ARCH.deb"

build-arm64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-arm64
  services:
    - docker:24.0.5-dind
  needs:
    - job: prepare
      artifacts: true
  variables:
    ARCH: arm64
  before_script:
    - apk add curl
    - apk add zip
    - apk add dpkg
  script:
    # Build
    - |
      docker run --rm -v ${PWD}:/project $EXT_USER/$TOOLCHAIN_IMAGE_NAME:$ARCH bash -c \
      "qt-cmake . -G Ninja -B ./build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./build/ChassisTuner-$ARCH; 
      cmake --build ./build --target install -j$(nproc);"
    # Upload
    - cd build/ChassisTuner-$ARCH
    - zip -r ChassisTuner-$ARCH.zip .
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file ChassisTuner-$ARCH.zip \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner/latest/ChassisTuner-$ARCH.zip"
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file ChassisTuner-$ARCH.zip \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner/$APP_VERSION/ChassisTuner-$ARCH.zip"
    - rm *.zip
    - cd ../..
    # Build DEBIAN package
    - mkdir -p deb/opt/lgdxrobot2-chassistuner
    - mkdir -p deb/DEBIAN
    - cp DEBIAN/control deb/DEBIAN/control
    - sed -i "s/%REPLACE_VERSION%/$APP_VERSION/g" deb/DEBIAN/control
    - sed -i "s/%REPLACE_ARCH%/$ARCH/g" deb/DEBIAN/control
    - cp -r build/ChassisTuner-$ARCH/* deb/opt/lgdxrobot2-chassistuner
    - dpkg-deb --build deb
    - mv deb.deb lgdxrobot2-chassistuner-$ARCH.deb
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file lgdxrobot2-chassistuner-$ARCH.deb \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner-Deb/latest/lgdxrobot2-chassistuner-$ARCH.deb"

#
# Release ChassisTuner
#

release:
  stage: release
  image: alpine:latest
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - job: prepare
      artifacts: true
    - job: build-amd64
    - job: build-arm64
  script:
    - apk add glab
    - apk add gitlab-release-cli  
  release:
    name : '$APP_VERSION'
    tag_name: '$APP_VERSION'
    description: '$APP_VERSION'
    ref: '$CI_COMMIT_SHA'
    assets:
      links:
        - name: 'ChassisTuner .zip for AMD64/x86-64'
          url: '${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner/$APP_VERSION/ChassisTuner-amd64.zip'
        - name: 'ChassisTuner .zip for ARM64/aarch64'
          url: '${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner/$APP_VERSION/ChassisTuner-arm64.zip'
        - name: 'ChassisTuner .deb package for AMD64/x86-64'
          url: '${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner-Deb/latest/lgdxrobot2-chassistuner-amd64.deb'
        - name: 'ChassisTuner .deb package for ARM64/aarch64'
          url: '${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ChassisTuner-Deb/latest/lgdxrobot2-chassistuner-arm64.deb'
